<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/RAUSHAN KUMAR/IdeaProjects/SeleniumVWO/src/test/java/org/example/selenium/Selenium10.java"><classes><class name="org.example.selenium.Selenium10"></class></classes></test></suite>